{% extends "blog/base.html" %}
{% block navbar-brand %}
{% endblock %}


{% block content %}
    <h2>PRO.GE.D.O. – PROgettazione e GEstione Database Open-source</h2>
    <p>
        Il corso ha la finalità di formare un Tecnico della progettazione, implementazione e manutenzione
        di sistemi di gestione di database sui software open-source. La figura si occupa di progettare,
        implementare, gestire e manutenere sistemi open-source per la gestione di basi di dati relazionali.
        E’ spesso chiamato a organizzare e gestire dati provenienti dai vari sottosistemi assicurando
        la consistenza, l'integrità e la non ridondanza dei dati e delle informazioni in essi contenuti.
        La figura ha competenze di programmazione di sviluppo software per la gestione dei dati orientati
        alle soluzioni innovative presenti sul mercato, conoscenze sulle architetture software in ambiente
        distribuito e orientate al web. Il corso avrà come database di riferimento PostgreSQL e sarà
        supportato dall’utilizzo di linguaggi di programmazione orientati allo sviluppo di applicazioni web.
    </p>
{% endblock %}