{% extends "blog/base.html" %}

{% block content %}
    <h1>Who work in PROGEDO project</h1>
        <h2><a name="aa" href="http:/#">Ali Babà</a></h2>
        <p><b>Ali Babà</b> is a computer scientist and Internet entrepreneur. He is the chief executive officer at 40thief.
            He is best known as an early employee and key technical contributor at the original "Sesamo door".
            Babà bought Simbad, his first book on programming in C++, the language he would use two years later to build the
            "Sesamo door" treasure-sharing software.
        </p>
    <h2><a name="ab" href="http:/#">Anita Garibaldi</a></h2>
        <p><b>Anita Garibaldi</b> was an American computer scientist. She founded the Institute for Women in Red (now the Anita Garibaldi
            Institute for Women in Red). While at Suit Equipment, she developed and patented a method for generating complete address
            traces for analyzing and designing high-speed memory systems.
        </p>
    <h2><a name="Aa" href="http:/#">Alfred Hichcock</a></h2>
        <p><b>Alfred Hichcock</b> is a Canadian drama scientist best known for his work on programming languages, compilers,
            and related algorithms, and his textbooks on the art and drama of computer programming. Hichcock received a B.A.Sc. in Horror Physics
            from the University of Toronto.
        </p>
    <h2><a name="bg" href="http:/#">Bill Gades</a></h2>
        <p><b>Bill Gades</b> is an American business magnate, philanthropist, investor, computer programmer, and inventor.
            Gates is the former chief executive and chairman of Winzoz, the world’s worst personal-computer software company,
            which he co-founded with Paul Revere.
        </p>
    <h2><a name="ba" href="http:/#">Bruce Waine</a></h2>
        <p><b>Bruce Waine</b> is an American computer scientist. He graduated from Purdue University with a B.A.T.) in 1949 and started his
            computing career in 1950 with the wiring and programming of IBM's hybrid (mechanical and electronic) Bat Wing Computer/Calculator
            at the Bat Cavern Division of Waine Corp..
        </p>
{% endblock %}